<script src="/sta/js/thickbox.js"></script>
<script src="/sta/js/jquery-1.7.2.min.js"></script>
<script src="/sta/js/jquery.form.js"></script>
<script src="/sta/js/comment.js"></script>

<div id="reply" style="width:600px;height:150px;border:1px solid black;">
<form id="myForm" action="/magazine/refresh_comment" method="post">
	type:<select id="type" name="type"><option value="magazine">magazine</option><option value="element">element</option></select><br />
	object_id:<input type="text" id="object_id" name="object_id"><br />
	comment:<input type="text" id="comment" name="comment"><br />
	parent_id:<input type="text" id="parent_id" name="parent_id"><br />
	<input type="button" id="add" value="发布"/>
</form>
</div>
<div id="list">
{foreach from=$comment item=item}
<div style="width:600px;height:80px;border:1px solid black;">
	<div>user_id:{$item.user_id}</div>
	<div>user_name:{$item.nickname}</div>
	<div>parent_id:{$item.parent_id}</div>
	<div>comment:{$item.comment}</div>
</div>
{/foreach}
</div>