<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta name="msapplication-window" content="width=1550;height=768" />
<link rel="stylesheet" type="text/css" href="styles/reset.css"/>
<link rel="stylesheet" type="text/css" href="styles/global.css"/>
<title>1001夜 —— 首页</title>
<script type="text/javascript" src="scripts/jquery-1.7.2.min.js"></script>
<!--[if IE 6]>
	<script src="scripts/belatedPNG_0.0.8a-min.js"></script>
	<script type="text/javascript">
		DD_belatedPNG.fix('.read,.more a,.userinfo p a,.edit');
	</script>
<![endif]-->
<script type="text/javascript" >
window.onload= function(){
 resize();
}

function resize(){
	page_height = $(".main_left_line").height();
	if ($(".sidebar_left").height()<page_height){
		$(".sidebar_left").css("height",$(".main_left_line").height()-1+"px");
	}
	if ($(".right_main").height()<page_height){
		$(".mag_list").css("height",$(".main_left_line").height()+"px");
	}
}

$("document").ready(function(){
	
    $(".mag_list dd").mouseenter(function(){
		$(this).find(".mouseover").css("display","block");
	});
    $(".mag_list dd").mouseleave(function(){
		$(this).find(".mouseover").css("display","none");
	});

    $(".mouseover .share").mouseenter(function(){
		$(this).parent().parent().children(".shareto").css("display","block");
	});
    $(".mouseover .share").mouseleave(function(){
		$(this).parent().parent().children(".shareto").css("display","none");
	});
    $(".mouseover .shareto").mouseenter(function(){
		$(this).css("display","block");
	});
    $(".mouseover .shareto").mouseleave(function(){
		$(this).css("display","none");
	});

    $(".follows a").mouseenter(function(){
        $(".follows .gray").css("display","block");
        $(this).css("z-index","999");
        $(this).find("span").css("left","-"+$(this).position().left+"px");
        $(this).find("span").css("display","block");
		if($(this).position().top>150){
        	$(this).find("span").css("top","-35px");
        }
    });
    $(".follows a").mouseleave(function(){
        $(".gray").css("display","none");
        $(this).find("span").css("display","none");
        $(this).css("z-index","0");
    });
})
</script>
</head>
<body>

<div class="header">
	<div class="container clearfix">
		<a href="#" class="logo"><img src="images/logo.gif" alt="1001夜" /></a>
		<ul class="menu">
			<li class="home"><a href="#" class="sel">首页</a></li>
			<li class="mag"><a href="#">杂志</a></li>
			<li class="find"><a href="#">发现</a></li>
			<li class="soft"><a href="#">软件</a></li>
		</ul>
		
		<div class="rightcon">
			<form class="search">
				<input type="text" value="搜索" />
				<button type="submit">搜索</button>
			</form>
			
			<div class="log_reg" style="display:none;">
				<a href="#" class="reg">注册</a>
				<a href="#" class="login" onmouseover="document.getElementById('loginTip').style.display='block'" onmouseout="document.getElementById('loginTip').style.display='none'">登录</a>
				<form id="loginTip" class="clearfix" onmouseover="document.getElementById('loginTip').style.display='block'" onmouseout="document.getElementById('loginTip').style.display='none'">
					<p><input type="text" value="Email地址" /></p>
					<p><input type="password" value="密码" /></p>
					<p><a href="#" class="findpass">忘记密码？</a>
					<input type="checkbox" id="rem_me" class="clear" /><label for="rem_me">下次自动登录</label></p>
					<p><button type="submit">立即登录</button></p>
					<p>其他帐号登录：</p>
					<p><span><a href="#">新浪微博账号登录</a> | <a href="#">QQ账号登录</a></span></p>
				</form>
			</div>

			<div class="self_info">
				<div class="user_info">
					<span>
					<a href="#">用户名用 <img class="userhead_small" src="images/userhead/001.gif" /></a>
					</span>
					<div onmouseover="document.getElementById('userMenu').style.display='block'" onmouseout="document.getElementById('userMenu').style.display='none'"></div>
				</div>
				<div class="clearfix"></div>
				<a href="#" class="msg_tip"><span>00</span></a>
				<ul id="userMenu" onmouseover="document.getElementById('userMenu').style.display='block'" onmouseout="document.getElementById('userMenu').style.display='none'">
					<li><a href="#">账号设置</a></li>
					<li><a href="#">我的收藏</a></li>
					<li><a href="#">我喜欢的</a></li>
					<li><a href="#">站内消息</a></li>
					<li><a href="#">退出账号</a></li>
				</ul>
			</div>
		</div>
	
    </div>
</div>

	<div class="current"><a href="#">首页</a> &gt; <a href="#" class="cur">个人中心</a></div>
<div class="main main_left_line clearfix">

	
	<div class="sidebar_left">
		<div class="userinfo">
			<p><a href="#">用户名</a> <a href="#" class="edit">修改</a> <!--a href="#" class="auther">认证作者</a--></p>
			<div class="user_info">
				<a href="#">
					<img src="images/userhead/big.jpg" class="userhead" alt="用户名" />
				</a>
				<ul class="clearfix">
					<li><a href="#">关注<span>1546</span></a></li>
					<li><a href="#">粉丝<span>1546</span></a></li>
					<li class="last"><a href="#">杂志<span>1546</span></a></li>
				</ul>
			</div>
			<a href="#" class="follow">关注该作者</a>
			<!--
			<a href="#" class="attest">认证作者</a>
			-->
			<p class="bottombg"></p>
		</div>
		
		<dl class="tag">
			<dt>我的标签  <a href="#" class="edit">修改</a></dt>
			<dd>
				<a href="#" class="tag01">手绘师</a>
				<a href="#" class="tag02">手d绘师</a>
				<a href="#" class="tag01">手a绘师</a>
				<a href="#" class="tag02">手绘assad师</a>
				<a href="#" class="tag01">手绘师</a>
				<a href="#" class="tag02">手das绘师</a>
			</dd>
		</dl>
		
		<dl class="follows">
			<dt>我关注的作者</dt>
			<dd>
			
				<div class="clearfix">
					<a href="#"><img src="images/userhead/50.jpg" alt="用户名" /><span>用户名1</span></a>
					<a href="#"><img src="images/userhead/50.jpg" alt="用户名" /><span>用户名2</span></a>
					<a href="#"><img src="images/userhead/50.jpg" alt="用户名" /><span>用户名3</span></a>
					<a href="#"><img src="images/userhead/50.jpg" alt="用户名" /><span>用户名4</span></a>
					<a href="#"><img src="images/userhead/50.jpg" alt="用户名" /><span>用户名5</span></a>
					<a href="#"><img src="images/userhead/50.jpg" alt="用户名" /><span>用户名6</span></a>
					<a href="#"><img src="images/userhead/50.jpg" alt="用户名" /><span>用户名7</span></a>
					<a href="#"><img src="images/userhead/50.jpg" alt="用户名" /><span>用户名8</span></a>
					<a href="#"><img src="images/userhead/50.jpg" alt="用户名" /><span>用户名9</span></a>
					<a href="#"><img src="images/userhead/50.jpg" alt="用户名" /><span>用户名10</span></a>
					<a href="#"><img src="images/userhead/50.jpg" alt="用户名" /><span>用户名11</span></a>
					<span class="gray"></span>
				</div>
			
			</dd>
		</dl>
	</div>
	
	
	<div class="right_main">
	
	
		<dl class="mag_list clearfix">
			<dd class="menu">
				<ul>
					<li><a href="#">消息中心</a></li>
					<li><a href="#">喜欢的发现</a></li>
					<li><a href="#">喜欢的书</a></li>
					<li><a href="#" class="sel">我的作品</a></li>
				</ul>
			</dd>
			<dt><a href="#" class="sel">已发布的杂志<span>(12)</span></a>　|　<a href="#">未发布的杂志<span>(12)</span></a></dt>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
			<dd>
				<div class="cover">
					<a href="#"><img src="images/temp/180x276.jpg" alt="宠爱日记" /></a>
					<div class="mouseover">
						<div class="bg"></div>
						<div class="content">
							<div class="info">
								简介文字
							</div>
							<a href="#" class="read">阅读</a>
							<a href="#" class="del_mag">删除</a>
							<div class="more">
									<a href="#" class="comment">评论</a>
									<a href="javascript:void(0);" class="share">分享</a>
									<a href="#" class="like">喜欢</a>
							</div>
							<div class="shareto">
								<div class="bg"></div>
								<ul>
									<li><a href="#" class="s_qq">分享到QQ空间</a></li>
									<li><a href="#" class="s_sina">分享到新浪微博</a></li>
									<li><a href="#" class="s_renren">分享到人人网</a></li>
									<li><a href="#" class="s_qt">分享到腾讯微博</a></li>
									<li><a href="#" class="s_douban">分享到豆瓣</a></li>
									<li><a href="#" class="s_baidu">分享到百度空间</a></li>
									<li><a href="#" class="s_kaixin01">分享到开心网</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<h3><a href="#">宠爱日记</a></h3>
			</dd>
		</dl>
		<div class="pagearea">
			<ul class="pagenav clearfix">
		<li><a href="#" class="sel">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">6</a></li>
		<li><a href="#">7</a></li>
		<li><a href="#">8</a></li>
		<li><a href="#">9</a></li>
		<li><a href="#">10</a></li>
	</ul>
	<form>
	<p class="page_no">
		<input type="text" value="1" /> | 590页 <button type="submit" style="display:none">跳转</button>
	</p>
	</form>
		</div>
	</div>
	
</div>

<div class="footer">
	<ul>
		<li><a href="#">关于我们</a></li>
		<li><a href="#">商务合作</a></li>
		<li><a href="#">法律声明</a></li>
		<li><a href="#">帮助</a></li>
		<li><a href="#">更多</a></li>
	</ul>
	<p>京网文[2001]0398-130号　京ICP100780号</p>
</div>
</body>
</html>
