*{
	margin-top:0px;
	padding:0px;
	font-size:16px;
}
.foot_container{border:1px solid #CCCCCC;width:1000px;margin:auto;margin-top:20px;background-color:white;}
.title_l{margin-top:10px;width:120px;height:30px;background-color:black;color:white;font-weight:bold;font-size:22px;text-align:center;padding-top:6px;}
.title_m{margin-top:10px;width:160px;height:30px;background-color:black;text-align:center;padding-top:6px;}
.title_m a{color:white;font-weight:bold;font-size:22px;}
.title_b{margin-top:10px;width:180px;height:30px;background-color:black;color:white;font-weight:bold;font-size:22px;text-align:center;padding-top:6px;}
.title_s{margin-top:10px;width:220px;height:30px;background-color:black;color:white;font-weight:bold;font-size:22px;text-align:center;padding-top:6px;}
.occupying_by_30{height:30px;clear:both;}
.occupying_by_20{height:20px;clear:both;}
.occupying_by_10{height:10px;clear:both;}
.occupying_by_5{height:5px;clear:both;}
.occupying{clear:both;}
.about_us_container,.contact_us_container,.join_us_container,.legal_statement_container{margin-left:10px;width:98%;margin:auto;}

/* about_us */
.about_us_container .about_1001{width:100%;}
.about_1001 .content{width:100%;margin-top:5px;}
.about_1001 .content ul{list-style:none;}
.about_1001 .content ul li{margin-top:10px;}
.about_1001 .subtitle{margin-top:10px;font-size:20px;font-weight:bold;}
.about_1001_first .little_title,.about_1001_second .little_title, .about_1001_third .little_title, .about_1001_fourth .little_title{font-size:18px;margin-top:15px;}
.about_1001_first .little_title span,.about_1001_second .little_title span, .about_1001_third .little_title span, .about_1001_fourth .little_title span{font-size:20px;}
.about_1001_first ul, .about_1001_second ul, .about_1001_third ul, .about_1001_fourth ul{margin-top:10px;}
.about_1001_first ul li, .about_1001_second ul li, .about_1001_third ul li, .about_1001_fourth ul li{margin-left:30px;line-height:20px;}
.about_1001_first div.concept{font-size:20px;font-weight:bold;margin-top:20px;}
.about_us_container .about_letou{width:100%;margin-top:30px;}
.about_letou .content{width:100%;margin-top:10px;}
.about_letou .content p{text-indent:2em;line-height:35px;}

/* join_us */
.join_us_container .subtitle{margin-top:10px;font-size:18px;font-weight:bold;line-height:25px;}
.join_us_container div.content div{margin-top:5px;line-height:25px;}
.join_us_container .content div.position{font-weight:bold;line-height:25px;}
.join_us_container .content .department{font-weight:bold;line-height:25px;}
.join_us_container .job_description .description{text-indent:2em;line-height:25px;}
.join_us_container .job_requirements ul{margin-left:30px;margin-top:5px;line-height:25px;}
.join_us_container .summary{font-weight:bold;font-size:18px;line-height:25px;}

/* contact_us */
.contact_us_container .subtitle{margin-top:10px;font-size:20px;font-weight:bold;}
.contact_us_container .little_title{font-size:18px;font-weight:bold;}
.contact_us_container ul li{line-height:30px;}
.contact_us_container .contact{width:100%;height:100px;}
.contact_us_container .contact .left{width:50%;float:left;}
.contact_us_container .contact .right{width:50%;float:left;}
.contact_us_container .contact ul li{font-size:16px;width:470px;line-height:25px;}
.contact_us_container .contact .bold{font-size:16px;font-weight:bold;}




/* legal_statement */
.legal_statement_container .legal_container{width:100%;}
.legal_statement_container .little_title{font-size:20px;font-weight:bold;line-height:30px;}
.legal_statement_container ul li{margin-top:2px;line-height:30px;}
.legal_container p.intro{line-height:30px;}
.legal_container ul li span.front_title{width:32px;float:left;line-height:30px;}
.legal_container ul li span.content{width:945px;float:left;line-height:30px;}
.legal_container ul li span.front_title_s{width:42px;float:left;line-height:30px;}
.legal_container ul li span.content_s{width:935px;float:left;line-height:30px;}
.legal_statement_container .privacy_policy{width:100%;}
.privacy_policy .title_big{margin-top:10px;width:200px;height:24px;background-color:black;color:white;font-weight:bold;font-size:22px;text-align:center;padding-top:4px;}
.privacy_policy ul li span.front_title{width:32px;float:left;line-height:30px;}
.privacy_policy ul li span.content{width:945px;float:left;line-height:30px;}
.privacy_policy ul li span.front_title_s{width:42px;float:left;line-height:30px;}
.privacy_policy ul li span.content_s{width:935px;float:left;line-height:30px;}
.privacy_policy ul li p.second_content{margin-left:32px;line-height:30px;}
.privacy_policy .simple_intro{line-height:30px;}
.privacy_policy p.intro{text-indent:32px;line-height:30px;}

