@charset "utf-8";
/* CSS Document */
body{ height:100%; width:100%;}
html{ width:100%; background:url(/sta/images/bg.gif) repeat;}
.btn_blue{ width:auto; height:24px; padding:0 4px 0 0; margin:0; background:url(/sta/images/btn_blue.gif) no-repeat right -24px; border:none; overflow:visible; cursor:pointer; font-size:12px; color:#FFF;}
.btn_blue span{ display:block; position:relative; height:24px; padding:0 0 0 4px; margin:0; line-height:24px; background:url(/sta/images/btn_blue.gif) no-repeat left top; font-size:12px; word-break:keep-all; }
.btn_set{ width:auto; height:31px; padding:0 5px 0 0; margin:0; background:url(/sta/images/btn_set.gif) no-repeat right -32px; border:none; overflow:visible; cursor:pointer; font-size:14px; color:#FFF;}
.btn_set span{ display:block; position:relative; height:31px; padding:0 0 0 5px; margin:0; line-height:28px; background:url(/sta/images/btn_set.gif) no-repeat left top; font-size:14px; word-break:keep-all; font-weight:bold;}
@-moz-document url-prefix() {
  .btn_set {
	  background-position:right -31px;
  }
}

.header{ width:100%; background:url(/sta/images/bg_header.png) repeat-x left top; clear:both; }
.header .container{ width:1000px; height:75px; margin:0 auto; background:url(/sta/images/bg_header.png) repeat-x left top; clear:both; }

.header .logo{ float:left; display:block; padding-top:5px; margin-right:50px;}
.header .menu{ float:left; height:68px; border-left:1px solid #1B1B1B;}
.header .menu li{ float:left; border-right:1px solid #1B1B1B;}
.header .menu li a{ display:block; width:70px; height:68px; background:url(/sta/images/menu_item.gif) no-repeat; text-indent:-60px; overflow:hidden;}
.header .menu li.home a{ background-position:left top;}
.header .menu li.home a:hover{ background-position:right top;}
.header .menu li.home a.sel,
.header .menu li.home a.sel:hover{ background-position:-70px top;}
.header .menu li.mag a{ background-position:left -70px;}
.header .menu li.mag a:hover{ background-position:right -70px;}
.header .menu li.mag a.sel,
.header .menu li.mag a.sel:hover{ background-position:-70px -70px;}
.header .menu li.find a{ background-position:left -140px;}
.header .menu li.find a:hover{ background-position:right -140px;}
.header .menu li.find a.sel,
.header .menu li.find a.sel:hover{ background-position:-70px -140px;}
.header .menu li.soft a{ background-position:left -210px;}
.header .menu li.soft a:hover{ background-position:right -210px;}
.header .menu li.soft a.sel,
.header .menu li.soft a.sel:hover{ background-position:-70px -210px;}

.header .rightcon{ float:right; width:470px; padding-top:20px;}
.header .rightcon .search{ display:block; float:left; width:282px; height:29px; background:url(/sta/images/bg_search.gif) no-repeat left top;}
.header .rightcon .search input{ float:left; width:252px; height:29px; line-height:29px; padding-left:10px; background:transparent; border:none; font-size:14px;}
.header .rightcon .search button{ display:block; float:left; border:none; background:url(/sta/images/ico_top_search.gif) no-repeat left top; width:16px; height:16px; margin-top:5px; text-indent:-60px; overflow:hidden;}

.header .log_reg{ float:left; width:130px; padding-left:56px; position:relative;}
.header .log_reg a{ font-size:14px; color:#FFF;}
.header .log_reg .signup { display:block; float:left; padding-top:5px;}
.header .log_reg .login{
	cursor: default;
	display:block; float:right; width:70px; height:25px; padding:6px 0 0 11px; background:url(/sta/images/bg_top_login.gif) no-repeat left top; position:relative;}
.header .log_reg form { position:absolute;
	z-index: 1000;
	display:none; width:220px; padding:5px 19px; border:1px solid #DC7B09; background:#FFF; top:28px; right:0; font-size:12px;}
.header .log_reg form a{ color:#0590B3; font-size:12px;}
.header .log_reg form a:hover{ text-decoration:underline;}
.header .log_reg form p{ padding:5px 0; clear:both;}
.header .log_reg form input{ width:210px; height:30px; padding-left:10px; background:url(/sta/images/bg_longintip_input.gif) no-repeat left top; border:none; line-height:30px; vertical-align:text-top;}
.header .log_reg form input.clear{ width:auto; height:auto; background:none;}
.header .log_reg form .findpass{ float:right;}
.header .log_reg form span{ display:block; height:31px; color:#0590B3; background:#EDEDED; line-height:31px; text-align:center;}
.header .log_reg form button{ display:block; float:right; clear:both; margin-top:5px; width:82px; height:30px; background:url(/sta/images/btn_logintip_sub.gif) no-repeat left top; border:none; line-height:28px; font-size:14px; color:#FFF; cursor:pointer;}

.header .self_info{ float:right; width:160px; padding-left:26px; position:relative;}
.header .self_info .user_info{ float:right; display:block; height:31px; padding-right:24px; background:url(/sta/images/bg_userinfobar.gif) no-repeat right -31px;}
.header .self_info .user_info span{ float:right; display:block; max-width:100px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; height:25px; padding:3px 45px 3px 14px; background:url(/sta/images/bg_userinfobar.gif) no-repeat left top; word-break:keep-all; position:relative; }
.header .self_info .user_info span a{ line-height:25px; font-size:12px; color:#0590B3;}
.header .self_info .user_info span .userhead_small{ position:absolute; right:10px; top:3px;}
.header .self_info .user_info span img{ vertical-align:middle; border:1px solid #282328;}
.header .self_info .user_info div{ position:absolute; right:0; top:0; height:31px; width:24px;}


.header .self_info .msg_tip{ display:block; padding-right:4px; background:url(/sta/images/bg_msg_tip.gif) no-repeat right -17px; position:absolute; right:66px; top:-8px;}
.header .self_info .msg_tip span{ display:block; float:right; height:17px; padding-left:3px; background:url(/sta/images/bg_msg_tip.gif) no-repeat left top; font-size:12px; line-height:17px; color:#36312C; }

.header .self_info ul{ display:none; width:85px; background:#312B31; border:1px solid #121113; border-bottom:none; position:absolute; right:0px; top:28px; zoom:1; z-index:1000;}
.header .self_info ul li{ text-align:center; height:24px; line-height:24px; border-bottom:1px solid #121113;}
.header .self_info ul li a{ font-size:12px; color:#FFF;}

/*index*/
.main,.down{ width:1000px; margin:0 auto; font-size:12px;}
.mag_list,.element_list{ position:relative; width:1000px; margin:10px auto; background:#FFF url(/sta/images/line.gif) repeat-y left top;}
.mag_list dt,.element_list dt{ position:relative; clear:both; height:43px; border:1px solid #e8e8e8;}
.mag_list dt strong,.element_list dt strong{ position:absolute; left:-18px; top:3px; display:block; width:174px; height:45px; padding-left:30px; background:url(/sta/images/bg_bar_title.gif) no-repeat left top; font-family:'Microsoft YaHei',SimHei,'LiHei Pro Medium'; font-size:24px; line-height:35px; color:#FFF;}
.element_list dt strong{ background-position:left bottom;}
.mag_list dt .more,.element_list dt .more{ float:right; display:block; width:59px; height:43px; background:url(/sta/images/more.jpg) no-repeat left bottom; text-indent:-100px; overflow:hidden;}

.mag_list dd,.element_list dd{ float:left; padding:10px; background: url(/sta/images/bg_line.gif) repeat-y right bottom;padding-bottom:0;}
.element_list dd{ height:auto; }
.element_list.e_index dd{ padding:10px;}
.mag_list dd.topic{ width:580px; height:714px;}
.element_list dd.topic{ width:580px; height:450px;}

.mag_list dd a img,.element_list dd a img{ display:block;}
.mag_list dd h3,.element_list dd h3{ zoom:1; width:170px; height:40px; line-height:40px; font-size:14px; font-weight:bold; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.mag_list dd h3 a:hover,.element_list dd h3 a:hover{ color:#0590b3;}
.element_list dd h3{ text-align:center; height:40px; line-height:40px;}
.mag_list.m_index dd h3{ text-align:center;}
.element_list dd.col2 h3{ width:380px;}
.mag_list dd p{ display:block; color:#515050; line-height:17px; width:180px; height:36px; overflow:hidden;}

.mag_list .slide_pic { position:relative; width:580px; height:576px;}
.element_list .slide_pic { position:relative; width:580px; height:380px;}
.mag_list .slide_pic .tab,.element_list .slide_pic .tab{ position:absolute; left:0; bottom:10px; width:580px; text-align:center; z-index:99;}
.mag_list .slide_pic .tab a,.element_list .slide_pic .tab a{ display:inline-block; width:20px; height:20px; background:url(/sta/images/slide_cur.png) no-repeat left bottom; text-indent:-90px; +text-indent:0; +font-size:1px; overflow:hidden;}
.mag_list .slide_pic .tab .point a.sel,.element_list .slide_pic .tab .point a.sel{ background-position:left top;}
.mag_list .slide_pic .slide_nav,.element_list .slide_pic .slide_nav{ position:absolute; right:0; bottom:-53px; width:100px; z-index:99;}
.mag_list .slide_pic .slide_nav a,.element_list .slide_pic .slide_nav a{ float:left; display:block; width:43px; height:43px; text-indent:-100px; overflow:hidden; background:url(/sta/images/slide_nav.gif) no-repeat left top;}
.mag_list .slide_pic .slide_nav a.next,.element_list .slide_pic .slide_nav a.next{ float:right; background-position:right top;}
.mag_list dd.topic h2,.element_list dd.topic h2{ height:35px; display:block; width:470px; padding-top:15px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; font-size:24px; font-family:'Microsoft YaHei',SimHei,'LiHei Pro Medium'; }
.mag_list dd.topic p{ color:#515050; width:100%; line-height:24px; padding-top:10px; height:72px; overflow:hidden; text-indent:26px;}
.mag_list dd.topic p a{color:#515050;}
.mag_list dd.topic p a.readmore{ color:#0590b3;}

.mag_list dd .cover,.element_list dd .cover{ position:relative;}
.mag_list dd .cover .mouseover, .element_list dd .cover .mouseover {
	position:absolute; left:0; top:0; width:100%; height:100%; display:none;
}
.element_list dd .cover .mouseover{ height:100%; }
.mag_list dd .cover .mouseover .bg,
.element_list dd .cover .mouseover .bg{ width:100%; height:100%; background:#000; -moz-opacity:0.5; filter:alpha(opacity=50);opacity:0.5;}
.mag_list dd .cover .mouseover .content,
.element_list dd .cover .mouseover .content{ position:absolute; left:0; top:0; color:#FFF; width:100%; height:100%;}
.mag_list dd .cover .mouseover .info{ padding:10px; height:204px; overflow:hidden;}
.mag_list dd .cover .mouseover .read,
.element_list dd .cover .mouseover .read{ position:absolute; z-index:1; left:0; top:0; display:block; width:180px; height:276px; background: url(/sta/images/mouseover_ico.png) no-repeat center -240px; text-indent:-100px; overflow:hidden;}
.element_list dd .cover .mouseover .read{ width:100%; height:100%; background: url(/sta/images/ico_go.png) no-repeat center center;}

.mag_list dd .cover .mouseover .more,
.element_list dd .cover .mouseover .more{ position:absolute; z-index:2; width:100%; left:0; bottom:0px;}
.element_list dd .cover .mouseover .more{ width:120px; left:auto; right:0; top:auto; bottom:0;}
.mag_list dd .cover .mouseover .more a,
.element_list dd .cover .mouseover .more a{ float:right; display:block; width:60px; height:20px; padding-top:30px; color:#FFF; text-align:center; background:url(/sta/images/mouseover_ico.png) no-repeat left bottom;}
.mag_list dd .cover .mouseover .more a.like,
.element_list dd .cover .mouseover .more a.like{ background-position:-2px -16px;cursor:pointer;}
.mag_list dd .cover .mouseover .more a.like:hover,
.element_list dd .cover .mouseover .more a.like:hover{ background-position:-2px -69px;}
.mag_list dd .cover .mouseover .more a.share,
.element_list dd .cover .mouseover .more a.share{background-position:-122px -16px;}
.mag_list dd .cover .mouseover .more a.share:hover,
.element_list dd .cover .mouseover .more a.share:hover{background-position:-122px -69px;}
.mag_list dd .cover .mouseover .more a.comment,
.element_list dd .cover .mouseover .more a.comment{background-position:-238px -16px; }
.mag_list dd .cover .mouseover .more a.comment:hover,
.element_list dd .cover .mouseover .more a.comment:hover{background-position:-238px -69px;}

.element_list dd .cover .mouseover .more {
	width: 100%;
}
.element_list dd .cover .mouseover .more a {
	float: left;
}
.element_list dd .cover .mouseover .more a.share {
	float: right;
}

.mag_list dd .cover .mouseover .del_mag,
.element_list dd .cover .mouseover .del_mag{ position:absolute; display:block; z-index:2; color:#FFF; right:10px; top:10px; width:11px; height:11px; text-indent:-100px; overflow:hidden; background:url(/sta/images/ico_del.gif) no-repeat left top;}

/*share to*/
.cover .mouseover .shareto{ padding-top:7px; position:absolute; width:180px; height:26px; left:0; bottom:-33px; background:url(/sta/images/share_ico.gif) no-repeat center -30px; overflow:hidden; display:none; }
.cover .mouseover .shareto ul{ position:absolute; z-index:2; width:182px; left:-1px;}
.cover .mouseover .shareto ul li{ float:left; width:26px;}
.cover .mouseover .shareto ul a{ display:block; width:26px; height:26px; background:url(/sta/images/share_ico.gif) no-repeat left 5px; text-indent:-400px; overflow:hidden;}
.cover .mouseover .shareto ul a.s_qq,
.mag_preview .left_main .intro p.shareto a.s_qq{ background-position:left 5px;}
.cover .mouseover .shareto ul a.s_sina,
.mag_preview .left_main .intro p.shareto a.s_sina{ background-position:-26px 5px;}
.cover .mouseover .shareto ul a.s_renren,
.mag_preview .left_main .intro p.shareto a.s_renren{ background-position:-52px 5px;}
.cover .mouseover .shareto ul a.s_qt,
.mag_preview .left_main .intro p.shareto a.s_qt{ background-position:-78px 5px;}
.cover .mouseover .shareto ul a.s_douban,
.mag_preview .left_main .intro p.shareto a.s_douban{ background-position:-104px 5px;}
.cover .mouseover .shareto ul a.s_baidu,
.mag_preview .left_main .intro p.shareto a.s_baidu{ background-position:-130px 5px;}
.cover .mouseover .shareto ul a.s_kaixin01,
.mag_preview .left_main .intro p.shareto a.s_kaixin01{ background-position:-156px 5px;}
.cover .mouseover .shareto .bg{ background:#000; position:absolute; width:180px; height:26px; z-index:1; -moz-opacity:0.7; filter:alpha(opacity=70);opacity:0.7;}
.cover .mouseover .shareto #bdshare {z-index:2;position:absolute;}
#bdshare a{margin:0 4px 0 4px;}


.element_list dd .cover .mouseover .shareto{ left:auto; top:auto; right:0; bottom:-33px; background:url(/sta/images/share_ico.gif) repeat-x 60px -30px;}

/*
.element_list dd.menu{ font-weight:bold; font-size:16px; color:#C4C4C4; background:none; float:none; clear:both; border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8;}
.element_list dd.menu a{ color:#0792BB;}
.element_list dd.menu a.sel{ color:#000;}
.element_list dd.menu.my{ border:none; padding:0;}
*/

/*
div.menu{
	font-weight:bold; font-size:16px; color:#C4C4C4; background:none; float:none; clear:both; border-right:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8;
	display: block;
}
div.menu a{ color:#0792BB;}
div.menu a.sel{ color:#000;}
div.menu.my{ border:none; padding:0;}
*/

/*magzine_list*/
.mag_list.m_index { margin-top:55px;}
.mag_list.m_index dd.menu{ position:relative; padding:0; border:none; background:#e8e8e8; float:none; clear:both; width:100%;}
.mag_list.m_index dd.menu ul{ position:absolute; top:-39px; left:0; width:100%;}
.mag_list.m_index dd.menu ul li{ float:left; display:block;
	/*width:120px;*/
	padding-right:4px; text-align:center; cursor:pointer;}
.mag_list.m_index dd.menu ul li a{ display:block; font-size:16px; padding:10px 15px; height:18px; overflow:hidden; font-weight:bold; background:#000; border:1px solid #000; border-bottom:none; color:#FFF;}
.mag_list.m_index dd.menu ul li a.sel{ background:#FFF; color:#000; border:1px solid #e8e8e8; border-bottom:1px solid #FFF;}
.mag_list.m_index dt { height:30px; border-top:none;}
.mag_list.m_index dt .more{ height:30px;}
.item{float:left;}

.mag_list.m_topic dt strong{ width:980px;}
.mag_list.m_topic dt strong span{ float:left; display:block; width:100px; height:36px;}
.mag_list.m_topic dt strong span.prav{ padding-left:60px; background:url(/sta/images/bg_bar_title_sec.gif) no-repeat left top;}
.mag_list.m_topic dt strong span.last{ padding-right:20px; background:url(/sta/images/bg_bar_title_sec.gif) no-repeat right bottom;}
.mag_list.m_topic dt strong a{font-family:'Microsoft YaHei',SimHei,'LiHei Pro Medium'; font-size:24px; line-height:35px; color:#FFF;}
.mag_list.m_topic dd.topic{ width:980px; padding-right:9px; border-right:1px solid #e8e8e8; background:none; height:auto; float:none; clear:both;}
.mag_list.m_topic dd.topic .slide_pic{ width:auto; height:280px;}
.mag_list.m_topic dd.topic h2{ padding:15px 0 5px 0; width:830px;}
.mag_list.m_topic dd.topic .tab{ width:100%;}

.mag_list.m_topic dd.info{ width:980px; float:none; clear:both;}
.mag_list.m_topic dd.info dd{ background:none;}
.mag_list.m_topic dd.info dd h3{ text-align:center;}
.mag_list.m_topic dd.info ul{ width:100%; padding-top:10px; background:url(/sta/images/ico_mag_index.gif) repeat-x left -196px;}
.mag_list.m_topic dd.info ul li{ float:left;}
.mag_list.m_topic dd.info ul li.text_list{ width:560px; padding-right:20px;}
.mag_list.m_topic dd.info .text_list dt,
.mag_list.m_topic dd.info .text_list dd{ position:static; padding:0; margin:0; border:none; background:none; float:none; width:auto; height:auto;}
.mag_list.m_topic dd.info .text_list dl{ height:84px; padding:10px; padding-left:60px; border-bottom:1px dotted #787878; overflow:hidden;  background:url(/sta/images/ico_mag_index.gif) no-repeat left -50px; }
.mag_list.m_topic dd.info .text_list dl.last{ border:none;}
.mag_list.m_topic dd.info .text_list dt{ padding-left:10px; height:25px; background:url(/sta/images/ico_mag_index.gif) no-repeat left 10px;font-family:'Microsoft YaHei',SimHei,'LiHei Pro Medium'; font-size:18px;}
.mag_list.m_topic dd.info .text_list dd { color:#4e4e4e; height:54px; text-indent:26px; line-height:18px; overflow:hidden;}
.mag_list.m_topic dd.info .text_list dd a{ color:#4e4e4e; line-height:18px;}
.mag_list.m_topic dd.info .text_list dd a.readmore{ color:#0590b3;}

.main.main_left_line{ background:#fff url(/sta/images/line.gif) repeat-y left top; margin-bottom:20px;}
.current {
	width:1000px; margin:0 auto; clear:both; font-size:14px; color:#c5c5c5;
	padding-top: 5px;
	height: 40px;
}
.current a{ color:#0590B7; font-weight:bold;}
.current a.cur, .current span.cur { color:#000; font-weight: bold;}
div.current .nav {
	float: left;
	padding-top: 14px;
}
div.current .menu {
	position: relative;
	z-index: 10;
	top: 1px;
	padding:0; margin:0; border:none; background:none;float: right;
}
div.current .menu ul{ width:800px; float:right;}
div.current .menu ul li{ float:right; padding-left:3px;}
div.current .menu ul li a{ display:block; background:#000; font-size:16px; width:100px; height:39px; line-height:37px; text-align:center; color:#FFF; font-weight:bold;}
div.current .menu ul li a.sel{ background:#FFF; color:#000; border:1px solid #e8e8e8; border-bottom:none;}

.right_main{ width:800px; float:left; background:url(/sta/images/line.gif) repeat-y right top}

/*user_bookstore*/
.right_main .mag_list,
.right_main .element_list,
.right_main .msg_list{ margin:0; position:relative; width:800px; background:url(/sta/images/bg_line.gif) no-repeat right bottom;}
.right_main .mag_list dt,
.right_main .element_list dt{ padding-left:10px; z-index:1; height:30px; line-height:30px; font-weight:bold; color:#c4c4c4;}
.right_main .mag_list dt a,
.right_main .element_list dt a{ color:#0590b3; font-size:14px; font-weight:bold;}
.right_main .mag_list dt a.sel,
.right_main .element_list dt a.sel{ color:#000;}
.right_main .mag_list dt a span,
.right_main .element_list dt a span{ font-weight:normal; color:#000; font-family:Simsun;}

.right_main .mag_list dd h3{ text-align:center;}
.right_main .pagearea{ padding:10px; background:url(/sta/images/bg_line.gif) no-repeat right bottom;}

.right_main .mag_list.un_pub{+padding-bottom:40px;}
.right_main .mag_list.un_pub dd{ position:relative; margin-bottom:40px; margin-top:-1px; overflow:visible; border-top:1px solid #e8e8e8;}
.right_main .mag_list dd.menu{ margin:0; border:none;}
.right_main dd .edit_btn{ bottom:-40px; left:0; width:180px; height:40px; text-align:center;  }

.right_main dd .edit_btn span,.right_main dd .edit_btn a{ display:block; width:80px; height:23px; background:url(/sta/images/btn_pub.gif) no-repeat left top; text-align:center; font-size:14px; color:#FFF; margin:8px auto; line-height:23px;}
.right_main dd .edit_btn a{ background-position:left bottom;}

/*msg_list*/
.my_msg_list,.my_follow_list{ padding:30px 0; border-top:1px solid #e8e8e8;}

.my_msg_list dl,.my_follow_list dl{ width:690px; margin:10px auto;}
.my_msg_list dl dt{ float:left; width:50px; padding-right:20px; background:url(/sta/images/bg_msg_box.gif) no-repeat 60px 18px;}
.my_msg_list dl dd{ float:left; padding-top:4px; background:#E9E9E9 url(/sta/images/bg_msg_box.gif) no-repeat -10px top; width:620px;}
.my_msg_list dl dd div{ float:left; margin:0; display:inline;  padding-bottom:4px; background:url(/sta/images/bg_msg_box.gif) no-repeat -630px bottom;}
.my_msg_list dl dd p{ float:left; display:inline; width:480px; padding:1px 10px;}
.my_msg_list dl dd p a{ color:#F60;}
.my_msg_list dl dd p a:hover{ text-decoration:underline;}
.my_msg_list dl dd p strong,.msg_list dl dd p strong a{ font-weight:bold; color:#000;}

.my_msg_list dl dd span{ float:left; display:block; position:relative; _display:inline-block; text-align:right; width:110px; height:42px; padding-right:10px;}
.my_msg_list dl dd span a{ float:right; display:block; position:absolute; line-height:18px; right:5px; top:20px; padding-right:13px; visibility:hidden; background:url(/sta/images/ico_del.gif) no-repeat right -15px; color:#000;}

/*search*/
.search_menu{ height:39px; padding-top:20px; padding-left:345px; width:653px; margin:0 auto; position:relative; z-index:6; margin-bottom:-2px;}
.search_menu li{ float:left; display:block; width:100px; padding-right:4px; text-align:center;}
.search_menu li a{ display:block; font-size:16px; padding:10px 15px; height:18px; overflow:hidden; font-weight:bold; background:#000; border:1px solid #000; border-bottom:none; color:#FFF;}
.search_menu li a.sel{ background:#FFF; color:#000; border:1px solid #e8e8e8; border-bottom:1px solid #FFF;}

.search_big{ border:1px solid #e8e8e8; border-bottom:none; background:#FFF; width:798px; padding:20px 0 0 200px; margin:0 auto;}
.search_big input{ width:480px; padding:0 10px; background:url(/sta/images/bg_big_search.gif) no-repeat left top; border:none; height:28px; line-height:28px; font-size:14px;}
.search_big button{ width:70px; height:28px; text-align:center; border:none; background:url(/sta/images/bg_big_search.gif) no-repeat right top; cursor:pointer; color:#FFF; font-size:14px; font-weight:bold;}
.search_big p{ padding:10px 0;}
.search_big p a{ font-size:14px;}
.search_big p a:hover{ color:#0590b3;}

.graytext{ color:#CCC;}

.mag_list.search{ margin:0 auto; position:relative; z-index:1; font-size:12px;}
.mag_list.search dd h3{ text-align:center;}

.user_list,.mag_list_title{ padding:9px; border:1px solid #e8e8e8; background:#FFF; margin:0 auto; width:980px; margin-top:-1px; padding-top:30px; position:relative; z-index:2; margin-bottom:30px;}
.user_list dd{ float:left; text-align:center; width:90px; padding:8px 4px; font-size:14px;}

.user_list dt,.mag_list_title dt{ border-bottom:1px solid #000; background:#dbdbdb; position:relative; height:25px; padding:5px; padding-bottom:0; width:970px; margin:0 auto;}
.user_list dt span,.mag_list_title dt span{ float:left; font-size:15px; font-weight:bold;}
.user_list dt span strong,.mag_list_title dt span strong{ color:#F60;}
.user_list dt a.more,.mag_list_title  dt a.more{ float:right; font-size:20px;}

.user_list dd a{ font-size:14px; width:90px; word-break:keep-all; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.user_list dd a img{ display:block; margin:0 auto; margin-bottom:4px;}

.mag_list_title{ margin-bottom:0; padding:0 9px; border-top:none;}


/*magzine preview*/
.main.mag_preview{ border:1px solid #e8e8e8; background:#fff; margin-bottom:20px;}
.main .left_main{ float:left; border-right:1px solid #e8e8e8; width:747px;}
.mag_preview .left_main .cover{ float:left; width:180px; padding:20px;}
.mag_preview .left_main .intro{ float:left; width:505px; padding:20px; padding-left:0; position:relative;}
.mag_preview .left_main .intro h2{ font-size:20px; font-family:'Microsoft YaHei',SimHei,'LiHei Pro Medium'; padding-bottom:10px;}
.mag_preview .left_main .intro p{ padding:5px 0;}
.mag_preview .left_main .intro p.auther a{ font-weight:bold;}
.mag_preview .left_main .intro p.auther a.follow{ font-weight:normal;}
.mag_preview .left_main .intro p.auther a.follow img{ display:inline-block; vertical-align:text-bottom;}
.mag_preview .left_main .intro p.auther a.followed { font-weight:normal;}
.mag_preview .left_main .intro p.auther a.followed img{ display:inline-block; vertical-align:text-bottom;}
.mag_preview .left_main .intro p.tag a{ color:#0590b3;}
.mag_preview .left_main .intro p.tag a:hover{ text-decoration:underline;}
.mag_preview .left_main .intro p.intro_txt{ position:relative; padding-left:39px; color:#505050;}
.mag_preview .left_main .intro p.intro_txt strong{ color:#000; position:absolute; left:0; top:5px;}
.mag_preview .left_main .intro p.shareto { line-height:26px;}
.mag_preview .left_main .intro p.shareto a{ display:inline-block; width:26px; height:26px; background:url(/sta/images/share_ico.gif) no-repeat left 5px; text-indent:-400px; overflow:hidden;}
.mag_preview .left_main .intro p.readonline{ padding-left:40px;}
.mag_preview .left_main .intro p.info{ position:absolute; top:20px; right:20px; width:300px;}
.mag_preview .left_main .intro p.info span{ display:block; float:right; text-align:center; width:55px; color:#525252;}
.mag_preview .left_main .intro p.info span a{ display:block; width:38px; height:38px; background:url(/sta/images/ico_magzine_detail.gif) no-repeat left bottom; text-indent:-100px; overflow:hidden; margin:0 auto;}
.mag_preview .left_main .intro p.info span.like a{ background-position:left top;}
.mag_preview .left_main .intro p.info span.view a{ background-position: right top; cursor:default;}

.comment_preview,.mag_preview .preview{ width:705px; margin:0 auto; clear:both;}
.mag_preview .preview dt{height:60px; line-height:60px; font-size:16px; font-weight:bold;}
.mag_preview .preview dd li{ display:inline; float:left; margin:0 10px; width:106px;}
.mag_preview .preview dd li img,.mag_preview .preview dd li a img{ display:block; border:1px solid #e8e8e8;}
.comment_preview p.more_comment { text-align:right; padding-bottom:10px;}
.comment_preview p.more_comment a{ font-size:14px; color:#0590b3;}

.main .sidebar_right{ float:left; width:250px;}
.main .sidebar_right .topic{ border-bottom:1px solid #e8e8e8; padding:10px 0; text-align:center;}
.main .sidebar_right .mag_topic{ clear:both; padding-top:10px;}
.main .sidebar_right .mag_topic dt{ width:230px; background:url(/sta/images/ico_mag_index.gif) repeat-x left -170px; margin:0 auto; clear:both; font-size:14px; line-height:30px; height:30px;}
.main .sidebar_right .mag_topic dd{ float:left; width:125px; padding:10px 0;}
.main .sidebar_right .mag_topic dd a{ display:block; width:106px; margin:0 auto;}
.main .sidebar_right .mag_topic dd a img{ display:block; border:1px solid #edebec;}

/*scrollbar*/
.scrollbar{ height:185px; overflow:hidden; width:705px;}
dd.scrollbar.jspScrollable{height:185px;width:705px;overflow:hidden;}
.jspContainer *{ font-size:1px; line-height:1px;}
.scrollbar ul{ width:1000px; position:absolute; padding:0; margin:0; height:185px; overflow:hidden; height:}
.jspContainer{overflow: hidden;	position: relative;}
.scrollbar .jspContainer{overflow: hidden; position: relative; height:180px;}
.jspPane{position: absolute;}
.jspVerticalBar{position: absolute;top: 0;right: 0;width: 12px;height: 100%;background: red;}
.jspHorizontalBar{position: absolute;bottom: 0;left: 0;width: 100%;height: 12px;background: red;}
.jspVerticalBar *,
.jspHorizontalBar *{margin: 0;padding: 0;}
.jspCa{display: none;}
.jspHorizontalBar .jspCap{float: left;}
.jspTrack{background:url(/sta/images/bg_scrollbar.gif) repeat-x left bottom;position:relative;}
.jspDrag{background:url(/sta/images/bg_scrollbar.gif) repeat-x left -12px;;position: relative;top: 0;left: 0;cursor: pointer;}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{float: left;height: 100%;}
.jspArrow{background: #50506d;text-indent: -20000px;display: block;cursor: pointer;}
.jspArrow.jspDisabled{cursor: default;background: #80808d;}
.jspVerticalBar .jspArrow{height: 12px;}
.jspHorizontalBar .jspArrow{width: 12px;float: left;height: 100%;}
.jspVerticalBar .jspArrow:focus{outline: none;}
.jspCorner{background: #eeeef4;float: left;height: 100%;}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner{margin: 0 -3px 0 0;}
.jspDragLeft,.jspDragRight{ float:left; width:10px; height:12px; background:url(/sta/images/bg_scrollbar.gif) no-repeat left top;}
.jspDragRight{ float:right; background-position:left -24px;}

/*follow list*/
.my_follow_list dl dt{ float:left; width:50px; padding-right:15px;}
.my_follow_list dl dd{ float:left; width:625px; position:relative;}
.my_follow_list dl dd strong{ display:block; font-size:14px; font-weight:bold;}
.my_follow_list dl dd p{ line-height:20px; color:#c4c4c4;}
.my_follow_list dl dd p a{ color:#000;}
.my_follow_list dl dd span{ position:absolute; right:10px; top:10px;}

/*pagenav*/
.pagenav{ clear:both; width:100%; height:50px; background:url(/sta/images/bg_pagenav.gif) repeat-x left 22px; font-size:16px;}
.pagenav li{ float:left; width:10%;}
.pagenav li a{ color:#4f4f4f; display:block; width:30px; height:50px; text-align:center; }
.pagenav li a.sel{ color:#F90; background:url(/sta/images/bg_pagenav.gif) no-repeat center -155px;}
.page_no{ clear:both; padding-bottom:20px; text-align:right; font-size:14px;}
.page_no input{ width:30px; height:16px; line-height:16px; text-align:center; border:1px solid #a6a6a6;}

p.pagenav{ width:100%; margin:0 auto; clear:both; text-align:right; background:none; font-size:12px;}
p.pagenav a{ display:inline-block; padding:2px 5px; background:#FFF; border:1px solid #E0E0E0; color:#0590b3; word-break:keep-all;}
p.pagenav a.sel{ color:#a4a0a9; font-weight:bold; background:FaF7F7;}
p.pagenav a.next{ position:relative\09; top:-1px\09; background:url(/sta/images/ico_pagenav.gif) no-repeat right 6px; padding-right:8px;}
p.pagenav a.prav{ position:relative\09; top:-1px\09; background:url(/sta/images/ico_pagenav.gif) no-repeat left -8px; padding-left:8px;}

.pagenav.msg_pagenav{ width:690px;}

/*setting*/
.set_menu{ float:left; width:200px; background:#DBDBDB url(/sta/images/bg_setmenu.gif) repeat-y 198px top;}
.set_menu ul li{ height:30px; line-height:30px; font-size:14px; font-weight:bold; border-top:1px solid #f0f0f0; border-bottom:1px solid #585459; padding-left:30px; display:block; +display:inline-block;}
.set_menu ul li.sel{ background:url(/sta/images/bg_setmenu.gif) no-repeat right top; border-top:1px solid #fff;}
.set_menu ul li a{ display:block; +display:inline-block; padding-left:25px; background:url(/sta/images/ico_srtting.png) no-repeat left top;}
.set_menu ul li.s_pic a{ background-position:left -30px;}
.set_menu ul li.s_tag a{ background-position:left -60px;}
.set_menu ul li.s_share a{ background-position:left -90px;}
.set_menu ul li.s_pwd a{ background-position:left -90px;background:url(/sta/images/key.png) no-repeat left;}
.set_menu ul li.s_auther a{ background-position:left -120px;}
.set_menu ul li.s_ana a{ background-position:left -150px;}
.set_menu a.btn_auther{ background:url(/sta/images/btn_auther.gif) no-repeat left top; width:183px; height:28px; display:block; text-indent:-300px; overflow:hidden; margin:0 auto; margin-top:10px;}

.set_main{ float:left; width:760px; background:#FFF; padding:10px 0 0 40px; margin-bottom:20px;}
.set_main h2{ font-size:14px; font-weight:bold; padding-bottom:20px;}
.set_main.headpic ul{ width:400px;}
.set_main.headpic ul li{ float:left; padding:0 20px 20px 0;}
.set_main.headpic ul li img{ display:block; border:1px solid #EAEBEB;}
.set_main.headpic ul li span{ color:#c4c4c4;}
.set_main.headpic ul li.big img{ border:1px solid #F60;}
.set_main.headpic p{ color:#C4C4C4; line-height:18px;}
.set_main.headpic button{ width:182px;}

.set_main.base p{ position:relative; padding:0 0 18px 60px;}
.set_main.base p label{ width:60px; color:#333; position:absolute; left:0; _left:-60px; top:2px; text-align:right; display:block;}
.set_main.base p button,.set_main.auther p button{ width:100px;}
.set_main.base p input,.set_main.auther p input,.set_main.auther p select{ width:180px;}

.set_main.auther { padding-bottom:20px;}
.set_main.auther p{ position:relative; padding:0 0 10px 100px;}
.set_main.auther p label{ width:100px; color:#333; position:absolute; left:0; _left:-100px; top:2px; text-align:right; display:block;}
.set_main.auther p label font{ color:#F00; font-family:Simsun;}
.set_main.auther p span.tips{ display:block; padding-top:2px; color:#c4c4c4;}
.set_main.auther div.card{ padding-left:100px;}
.set_main.auther div.card p{ padding-left:0;}
.set_main.auther div.card dl{ border:1px solid #e8e8e8; padding:20px; width:510px;}
.set_main.auther div.card dt{ clear:both; font-size:14px; font-weight:bold;}
.set_main.auther div.card dt strong{ display:block; padding-top:20px; font-weight:bold;}
.set_main.auther div.card dd{ float: left; width:170px; padding:10px 0;}
.set_main.auther div.card dd input{ vertical-align:middle;}
.set_main.auther div.card dd img{ border:1px solid #e8e8e8; vertical-align:middle;}
.set_main.auther div.card dd.more{ clear:both; width:100%; text-align:right; padding:0;}
.set_main.auther div.card dd.more a{ color:#0590b3; text-decoration:underline;}

.set_main.share dl{ margin-bottom:10px;}
.set_main.share dt{ color:#8D8D8D; clear:both; height:30px;}
.set_main.share dd{ float:left; height:55px; padding:0 10px 5px 0; text-align:center;}
.set_main.share dd img{ display:block; margin-bottom:5px;}
.set_main.share dd span{ display:none;}
.set_main.share dd span input{ vertical-align:middle;}

.set_main.tag p{ color:#c4c4c4; padding:5px 0;}
.set_main.tag form input { width:380px; height:28px; line-height:28px; margin-right:10px;}
.set_main.tag form button { width:80px;}
.set_main.tag dl{ border:1px solid #c4c4c4; margin:20px 0; width:370px; padding:5px;}
.set_main.tag dt{ clear:both; width:100%; padding-bottom:3px;}
.set_main.tag dt a{ float:right; color:#0590b3; text-decoration:underline;}
div.set_main.tag dd a{ float:left; display:inline; padding:5px 10px; background:#FDE19B; margin:1px; word-break:break-all; white-space:nowrap;}

.set_main.headpic,.set_main.base,.set_main.share,div.set_main.tag{ height:680px;}


/*footer*/
.footer{ height:79px; background:url(/sta/images/bg_footer.png) repeat-x left bottom;}
.footer div.main{text-align:center;}
.footer.big{ height:192px; background-position:left top; }
.footer div.main ul{ width:800px; margin:0 auto; overflow:hidden; clear:both; background:url(/sta/images/bg_footer.png) repeat-x left -192px;text-align:right;}
.footer.big ul{ background:left top;}
.footer ul li{ float:left; width:160px; height:35px; padding:20px 0 0 40px; color:#FFF;text-align:center;}
.footer.big ul li{ height:145px; margin-left:-3px; background:url(/sta/images/line_footer.png) no-repeat left top;}
.footer li a{ color:#FFF; font-size:16px;}
.footer dl dt{ padding-bottom:10px;}
.footer dl dd{ padding:7px 0 7px 10px; background:url(/sta/images/dot_footer.gif) no-repeat 4px 15px;}
.footer dl dd a{ color:#949292; font-size:14px; font-family:Simsun;}
.footer p{ text-align:center; clear:both; color:#717171; font-size:12px;}

/*gray_bg*/

.grayBg iframe{ position:absolute; z-index:1; top:0px; left:0; width:100%; height:100%; background:transparent; -moz-opacity:0; filter:alpha(opacity=0);opacity:0; border-style:none;}
.grayBg div{ position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; background:#000; -moz-opacity:0.6; filter:alpha(opacity=60);opacity:0.6;}

/* 用户密码操作 */
.occupying_by_30{height:30px;clear:both;}
.occupying_by_20{height:20px;clear:both;}
.occupying_by_10{height:10px;clear:both;}
.occupying_by_5{height:5px;clear:both;}
.reset_password,.forget_password{margin:auto;width:1000px;height:800px;}
.reset_password .container, .forget_password .container{margin-left:20px;width:98%;}
.reset_password .title, .forget_password .title{font-size:20px;font-weight:bold;height:30px;}
.reset_password .container .main{width:550px;margin-left:20px;text-align:center;}
.reset_password .container .main p{font-size:16px;float:left;width:100px;height:35px;text-align:center;padding-top:5px;}
.reset_password .container .main input.reset_pwd,input.pwd_sure{width:350px;height:30px;font-size:18px;float:left;}
.forget_password .container .main{width:500px;margin-left:20px;text-align:center;height:200px;}
.forget_password .container .main p{font-size:16px;float:left;width:100px;height:35px;text-align:center;padding-top:15px;}
.forget_password .container .main input.email{width:350px;height:50px;font-size:18px;}
.forget_password .container .main div.main_body{float:left;}
.forget_password .container .main div.main_body .description{font-size:16px;color:#A2A2A2;width:350px;margin-top:5px;text-align:left;}
.reset_password .container .main input.submit{width:130px;height:55px;}
.reset_password .container .main div.reset_pwd, .forget_password .container .main div.reset_pwd{height:50px;}
.container .main .submit{width:90px; height:33px; padding:0 5px 0 0; margin:0; background:url(/sta/images/btn_set.gif) no-repeat right -32px; border:none; overflow:visible; color:#FFF;}
.reset_password .container .main button.submit{border:0px;width:125px;height:42px;padding:0px;}
.container .main button.submit span{font-size:16px;}
.forget_password .container .main button.submit{margin-left:40px;}
.forget_password .container .main div.error_msg, .reset_password .container .main div.error_msg{margin-top:10px;margin-left:100px;font-size:16px;color:#FF0000;text-align:center;width:350px;}
.container .main button.find{border:0px;background-color:#F1F1F1;width:135px;height:42px;padding:0px;margin-left:50px;}
.reset_password .container .main div.return_msg, .forget_password .container .main div.return_msg{font-size:16px;margin-left:100px;width:350px;padding:0px;}

.modify_password{width:100%;height:800px;}
.modify_password .container .main{width:400px;margin:0px;text-align:center;}
.modify_password .container .main p.old_pwd, .modify_password .container .main p.reset_pwd, .modify_password .container .main p.pwd_sure{font-size:16px;float:left;width:90px;height:20px;padding-top:8px;}
.modify_password .container .title{font-size:14px;font-weight:bold;}
.modify_password .container input{width:250px;height:30px;float:left;font-size:16px;}
.modify_password .container button.submit{margin-left:30px;}
.modify_password .container .main div.error_msg{margin-left:90px;font-size:16px;color:#FF0000;width:250px;margin-top:10px;text-align:center;}
.modify_password .container .main div.return_msg{margin-left:90px;font-size:16px;width:250px;margin-top:10px;text-align:center;}
/* end 用户密码操作 */
/**zshen**/
.main .commonform {width:100%;background:#FFFFFF;padding:30px 30px 30px 30px;}
.main .commonform .title{font-size:20px;font-weight:bold;margin:0 0 30px 0;}
.main .commonform form {padding:0;margin:0;}
.main .commonform .p {margin:10px auto 10px;}
.main .commonform .p label {text-align:right;width:80px;float:left;font-size:14px;margin-right:10px;}
.main .commonform .p input {border:solid 1px #CCC;height:30px;width:300px;}
.main .commonform .p .subbtn {border:none;width:83px;height:30px;margin:20px 0 0 30px;vertical-align:bottom;background:url('../images/btn_logintip_sub.gif') left no-repeat;font-size:14px;font-weight:bold;color:#FFF;}
.main .commonform .btnra {margin-left:10px;color:#F9AB05;}
.main .commonform .error {margin-left:90px;color:red;}
.main .commonform .p .perror {margin-left:10px;color:red;}
.main .commonform .p .description{display:block;margin:5px 0 0 90px;color:#CCC;}
/**end zshen**/

p.err_msg {
	color: red;
}
