.dialog.apply_author { /* {{{ */
	width: 400px;
	height: 265px;
	background: white;
	div.main {
		padding-top: 10px;
		width:248px;
		margin: auto;
		legend {
			line-height: 30px;
			font-size: 25px;
			font-family: 'Microsoft YaHei',SimHei,'LiHei Pro Medium';
		}
		p {
			margin-top: 40px;
			position: relative;
		}
		p.err_msg {
			margin-top: 10px;
			font-size: 14px;
		}
		input {
			width: 228px;
			height: 40px;
			padding: 0 10px;
			background: url(/sta/images/bg_dialog_binput.jpg) no-repeat left top;
			border: none;
			line-height: 40px;
			font-size: 14px;
			color: #333;
		}
		button {
			background: url(../images/btn_dialog_confirm.jpg);
			text-indent: -400px;
			overflow: hidden;
			display: block;
			cursor: pointer;
			border: none;
			width: 111px;
			height: 42px;
			margin: auto;
		}
	}
	div.apply_ok {
		.good_icon {
			width: 110px;
			height: 140px;
			margin: auto;
			background: url(../images/good_icon.jpg) no-repeat;
		}
		padding-top: 10px;
		text-align: center;
		font-size: 16px;
		font-family: 'Microsoft YaHei',SimHei,'LiHei Pro Medium';
		font-weight: bold;
	}
} /* }}} */

.sidebar_left { /* {{{ */
	width:200px; float:left; background:url(/sta/images/line.gif) repeat-y right top; border-bottom:1px solid #e8e8e8;
	.userinfo {
		padding-top:10px;
		background:#DCDADF;
		.userhead { display:block; margin:0 auto;}
		p{ width:180px; margin:0 auto; height:14px; padding-bottom:10px;}
		p a{ position:relative; font-size:14px; font-weight:bold;}
		p a.auther{
			display:inline-block;
			width:60px;
			height:18px;
			font-size:1px;
			font-weight:normal;
			background:url(/sta/images/ico_author.png) no-repeat left bottom;
			bottom:1px; bottom:-4px\9;
			text-indent:-200px;
			overflow:hidden;
			cursor: default;
		}
		.user_info{ clear:both; float:none; width:180px; margin:0 auto;}
		.user_info li{ float:left; width:59px; height:36px; padding-top:4px; text-align:center; background:#362C35; border-right:1px solid #000; line-height:16px;}
		.user_info li a{ color:#fff; display:block; margin:0 auto;}
		.user_info li a span{ display:block; margin:0 auto;}
		.user_info li.last{ width:60px; border:none;}

		a.alreadyauthor {
			cursor: default;
		}
		a.follow,a.applyauthor {
			display:block;
			clear:both;
			width:181px;
			height:28px;
			margin:10px;
			background-position: no-repeat left top;
			text-indent:-300px;
			overflow:hidden;
		}
		a.applyauthor {
			background-image: url(/sta/images/btn_auther.gif);
		}
		a.alreadyauthor {
			background-image:url(/sta/images/ico_author.png);
		}
		a.follow {
			background-image:url(/sta/images/ico_author.png);
			background-position:left -30px;
		}
		p.followed {
			width: auto;
			height: 26px;
			line-height: 26px;
			margin:10px 20px 10px 30px;
			padding: 0;
			a.cancel {
				float: right;
				text-decoration: underline;
			}
			a.followed {
				float: left;
				background-image:url(/sta/images/ico_followed.png);
				display:block;
				width:107px;
				height:26px;
				background-position: no-repeat left top;
				text-indent:-300px;
				overflow:hidden;
			}
		}
		.bottombg{ display:block; width:198px; margin:10px auto 0 auto; height:15px; margin:0; background:url(/sta/images/ico_setting.png) repeat-x left -25px; padding:0;}
	}

	.tag{
		padding-top:10px;
		 dd{ padding:10px 10px;}
		 a.edit{ display:inline-block; float:none; word-break:keep-all; line-height:180%;}
	}
	.tag dt,
	.follows dt{ font-size:14px; padding:0 10px; width:180px; border-bottom:1px solid #e8e8e8; height:20px;}
	a.tag01{ font-size:14px; font-weight:bold; background:none; line-height:20px;}
	a.tag02{ color:#F60; background:none; line-height:20px;}

	.follows {
		padding-top:10px;
		dd{ padding:10px 0;}
		div{ position:relative; width:153px; margin:0 auto;}
		div a{ float:left; position:relative; z-index:1; display:inline-block; margin-right:1px; margin-bottom:1px;}
		div a span{ display:none; position:absolute; width:153px; text-align:center; font-size:14px; color:#FFF; font-weight:bold; top:65px; left:0;}
		div a:hover{ z-index:3;}
		div a:hover span{ display:block;}
		div a img{ display:block;}
		.gray{ position:absolute; left:0; top:0; background:#000; display:none; z-index:2; width:152px; height:203px; -moz-opacity:0.6; filter:alpha(opacity=60);opacity:0.6;}
	}

	a.edit{ display:inline-block; width:16px; height:16px; margin-bottom:-3px; background:url(/sta/images/ico_setting.png) no-repeat left top; text-indent:-150px; _text-indent:inherit; _font-size:1px; overflow:hidden;}
} /* }}} */

#mag_tag {
	div.main .menu {
		background: transparent;
		border-bottom: 1px solid #E8E8E8;
		padding: 5px 0 5px 5px;
		width: auto;
	}
	.mag_list {
		margin-top: 15px;
		dd h3 {
			font-weight: normal;
			text-align: left;
			padding-left: 30px;
			line-height: 30px;
			height: 30px;
			background: url(../images/ico_srtting.png) no-repeat left -60px;
		}
	}
}

/*
vim: fdm=marker
*/

